{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        {% if listing.active %}
        <div class="listing">
            <div class = "right">
                <h5><a href="{% url 'item' listing.title %}">{{listing.title}}</a></h5><br>
                <p><b>Price: </b>&#8377;{{listing.starting}}</p>
                <p>{{listing.description}}</p>
                <p style="color:grey; font-size:12px"><i>Created on: {{listing.created_date}}</i></p>
            </div>
            <div class="left">
                <img src="{{listing.image}}"/>
            </div>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}